extends layout

block append variables
  script.
    var name = "#{name}";
    var room = "#{room}";

block append css
  link(rel='stylesheet', href='/stylesheets/game/game.css')

block append js
  script(type="text/javascript" src="/js/game/game.js")

block content
  #menu
    b #{room} - Welcome, #{name}!
    button#start.right Start!
    button#reset.right.hide Reset!
    button#submit-answer.right.hide Submit Cards!
    
  #game-top
    #question
    #submitted-answers
    ul#users

  #game-bottom
    .overlay.hide
      .overlay-msg Guessing
    #answers
