extends layout

block append variables
  script.
    var name = "#{name}";
    var room = "#{room}";

block append css
  link(rel='stylesheet', href='/stylesheets/game/game.css')

block append js
  script(type="text/javascript" src="/js/game/game.js")

block content
  #menu
    b Welcome, #{name}
    button#start.right Start!
    button#reset.right.hide Reset!
    
  #game-top
    #question
    #submitted-answers

  #game-bottom
    #answers
