extends layout

block append footer-scripts
  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(type="text/javascript" src="/js/game/socket.io/socket.js")

block content
  h1= title
  input#username(type="text" placeholder="Enter a Username...")
  button#login Login
