extends layout

block append footer-scripts
  script(type="text/javascript" src="/js/game/login.js")

block content
  h1= title
  input#username(type="text" placeholder="Enter a Username...")
  button#login Login
