extends layout

block append css
  link(rel='stylesheet', href='/stylesheets/splashscreen.css')

block append js
  script(type="text/javascript" src="/js/game/login.js")

block content
  #splashscreen
    #title.shadow-text= title
    input#username.shadow-input.shadow-text(type="text" placeholder="Enter a Username..." autocomplete="off")
    input#roomname.shadow-input.shadow-text(type="text" placeholder="Enter a Room..." autocomplete="off")
    button#login.shadow-text Login
