doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block footer-scripts
      script(type="text/javascript" src="/js/libraries/jquery-3.2.1.min.js")
